*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* ---------------------- sectioon header  ---------------------*/
header{
    font-family: 'Roboto', sans-serif;
    background-color: #222222;
    height: 100px;
    /* max-width: 1024px; */
    width: 100%;
    align-items: center;
}
.section_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;

}
nav{
    display: flex;
    justify-content: center;
    margin: 35px;
    gap: 15px;
}
.nav_a{
    color: #F3F3F3;
    list-style: none;
    text-decoration: none;
    margin-left: 10px;
}
.carrito{
    width: 25px;
    height: 24px;
    color: #D01418;
    text-decoration: none;
    font-size: 25px;
}
.logo{
    width: 183px;
    height: 40px;
    margin-left: 35px;
}
.nav_li{
    display: inline;
}
.menu{
    display: none;
    width: 25px;
    height: 24px;
    color: #F3F3F3;
    text-decoration: none;
    font-size: 25px;

}

/* ---------------------- sectioon slide  ---------------------*/
body{
    font-family: 'Roboto', sans-serif;
    background-color: #F3F3F3;
}

.section_slide{
    background: url("../img/img 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    text-align: center;
    height: 512px;
}
.p_slide{
    height: auto;
    font-size: 40px;
    font-weight: bold;
    color: #F3F3F3;
}
.button_slide{
    width: 220px;
    height: 61px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: #F3F3F3;
    font-size: 25px;
    line-height: 61px;
    text-align: center;
}
/* ---------------------- section productos destacados  ---------------------*/
.section_productosDestacados{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div_elementos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 26px;
}
.article_pd{
    background-color: #ffffff;
    width: 265px;
    height: 322px;
    display: inline-block;
    padding-top: 30px;
    margin-top: 20px;
}
.p_pd{
    font-size: 30px;
    width: 100%;
    height: 55px;
    text-align: center;
    display: inline-block;
    line-height: 55px;
}
.art1{
    top: 707px;
    left: 94px;
}
.art2{
    top: 707px;
    left: 309px;
}
.art3{
    top: 707px;
    left: 684px;
}
.img_pd{
    margin: 0px 70px 30px 70px;
}
hr{
    border: #222222 0,2px solid;
    margin-bottom: 20px;
}
.div_elementos p{
    margin-left: 20px;
}
.div_elementos p:nth-child(3){
    font-weight: 400;
    color: #000000;
    font-size: 20px;
    line-height: 23.44px;
    margin-bottom: 4px;
}

.div_elementos p:nth-child(4){
    font-weight: 400;
    color: #000000;
    font-size: 13px;
    line-height: 15.23px;
    margin-bottom: 3px;
}
.div_elementos p:nth-child(5){
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 10px;
    line-height: 11.72px;
    color: #619D00;
    margin-bottom: 21px;
}
/* ---------------------- section productos estrellas  ---------------------*/
.section_banner{
    margin: 85px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_section{
    max-width: 844px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.p_pe{
    font-size: 30px;
    width: 100%;
    height: 35px;
    font-weight: 400;
    text-align: center;
}
.elementos2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.img_pd4 {
    width: 360px;
    height: 135px;
}
.img_pd5{
    width: 360px;
    height: 135px;

}
.article_pe{
    display: inline-block;

}
/* ---------------------- section footer  ---------------------*/

.section_footer{
    font-family: 'Roboto', sans-serif;
    height: 216px;
    background-color: #222222;
    display: flex;
    align-items: center;
}
.div_footer{
    /* width: 1024px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-left: 75px;
    margin-right: 75px;

}
.logo1{
    width: 183px;
    height: 40px;
}
.p_redes{
    font-size: 25px;
    font-weight: 400;
    color: #F3F3F3;
    width: auto;
    margin-bottom: 20px;
}
.div_ico{
    display: flex;
    justify-content: space-between;
}
.div_ico i{
    font-size: 25px;
}
.span_ico{
    width: 168px;
}
.ico_tw{
    color: #14AED0;
    text-decoration: none;
}
.ico_fa{
    color: #1476D0;
    text-decoration: none;
}
.ico_in{
    color: #CE0CFF;
    text-decoration: none;
}

.p_button{
    background-color: #C4C4C4;
    /* max-width: 1024px; */
    width: 100%;
    text-align: center;
    line-height: 25px;
    font-weight: 400;
    font-size: 10px;
}
@media (max-width: 768px){
    .div_footer{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        gap: 40px;
    }
    .img_pd4 {
        width: 320px;
    }
    .img_pd5{
        width: 320px;
    }
    .menu{
        display: block;
    }
    ul{
        display: none;
    }
    .carrito{
        display: none;
    }
}    
    

